@tailwind base;
@tailwind components;
@tailwind utilities;


/* .hero{
  background-image: url('../../public/assets/hero.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 360px;
} */

@font-face {
  font-family: HOVES;
  src: url("../../public/assets/fonts/TT Hoves Pro Trial Regular.woff");
}


body {
  font-family: HOVES;
}



select::before {

  appearance: none;
}

select::after {
  appearance: none;
}


@layer utilities {
  .container {
    @apply max-w-[1440px] w-[90%] mx-auto;
  }

  .nav-links {
    @apply relative tracking-[1px];
  }

  .nav-links::after {
    @apply content-[''] bg-primary h-[2px] w-[0%] left-0 -bottom-[5px] absolute duration-300 rounded-sm;
  }

  .nav-links:hover::after {
    @apply w-[100%];
  }

}